html, body {
    margin: 0;
    padding: 0;
    background-color: #000;

    color: #FFF;
  }
  
  canvas {
    display: block;
  }

  .video-container{
    font-family: 'Courier';
    font-size: 0.8rem;
    line-height: 0.7rem;
  }
  